body{
    background-color: rgb(54, 238, 223);
}
.ball {
    width: 200px;
    height: 200px;
    background-color: rgb(139, 240, 81);
    border-radius: 50%;
    position: relative;
    bottom: 50%;
    animation: ball 1s linear infinite;
}


@keyframes ball {
    
0% {
    transform: translateY(0px);
}


50% {
    transform: translateY(400px);
    background-color: rgb(19, 20, 17);
}
100% {
    transform: translateY(-10px);
    background-color: rgb(255, 0, 0);
}

}
